# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
kill_and_run.ps1

# Test files (moved to tests/)
tests/__pycache__/

# Documentation (moved to docs/)
# docs/

# Scripts (moved to scripts/)
scripts/__pycache__/

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/.gitignore
